<!DOCTYPE html>
<html lang="en">

<%- include('composants/socket_head') %> 
<body>
	<%- include('composants/menu') %>
 <%- include('composants/entete') %>
 <main>
 <%- include('composants/socket_body') %>
 </main>
 <%- include('composants/footer') %>
</body>


</html>